PUBLIC_SITE_URL=https://emillankatours.com
PUBLIC_ALLOW_INDEXING=false
PUBLIC_TURNSTILE_SITE_KEY=

TURNSTILE_SECRET_KEY=

ZEPTOMAIL_API_URL=https://api.zeptomail.com/v1.1/email
ZEPTOMAIL_SEND_MAIL_TOKEN=

MAIL_FROM_ADDRESS=tours@emillankatours.com
MAIL_FROM_NAME=Chauffeur Emil Lanka Tours
INQUIRY_RECIPIENT=
